<!-- <div class="best-selling-container">
  <div class="best-selling-header">
    <p>This Month</p>
    <div class="best-selling-section-title">
      <h1>Best Selling products</h1>
    </div>
  </div>

  <div class="cards-container">
  <owl-carousel-o [options]="customOptions">
    
    <ng-container *ngFor="let product of products">
      <ng-template carouselSlide [id]="product.id">
        <div class="image-container">
          <img
          src="{{ product.productImage }}"
          alt="{{ product.name }}"
          class="card-img-top"
        />
        <div class="discount-sticker">40%</div>
        <div class="product-icons">
          <img
            class="icon-img"
            src="assets/best-selling-imgs/best-selling-icons/eye.svg"
            alt=""
          />
          <img
            class="icon-img"
            src="assets/best-selling-imgs/best-selling-icons/heart.svg"
            alt=""
          />
        </div>
      </div>
      <div class="product-details-section">
        <h3>{{ product.name }}</h3>
        <p>Price: ${{ product.price }}</p>
        <div class="star-rating">
          <div class="stars-display">
            <img src="assets/best-selling-imgs/star.jpeg" alt="star" />
            <img src="assets/best-selling-imgs/star.jpeg" alt="star" />
            <img src="assets/best-selling-imgs/star.jpeg" alt="star" />
            <img src="assets/best-selling-imgs/star.jpeg" alt="star" />
            <img src="assets/best-selling-imgs/star.jpeg" alt="star" />
          </div>
          <p class="use-rating">(88)</p>
        </div>
        <div>
          <button class="add-to-cart-btn">Add to Cart</button>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
</div>

  <div class="card-footer">
  <div class="view-all-btn">
    <button class="flash-container-button">VIEW ALL PRODUCTS</button>
  </div>
</div>
</div> -->

<!-- test-code  -->
<div class="best-selling-container">
  <div class="best-selling-header">
    <p>This Month</p>
    <div class="best-selling-section-title">
      <h1>Best Selling products</h1>
    </div>
  </div>

  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let product of products">
      <ng-template carouselSlide [id]="product.id">
        <div class="cards-container">
          <div class="image-container">
            <img
            src="{{ product.productImage }}"
            alt="{{ product.name }}"
            class="card-img-top"
          />
          <div class="discount-sticker">40%</div>
          <div class="product-icons">
            <img
              class="icon-img"
              src="assets/best-selling-imgs/best-selling-icons/eye.svg"
              alt=""
            />
            <img
              class="icon-img"
              src="assets/best-selling-imgs/best-selling-icons/heart.svg"
              alt=""
            />
          </div>
        </div>
        <div class="product-details-section">
          <h3>{{ product.name }}</h3>
          <p>Price: ${{ product.price }}</p>
          <div class="star-rating">
            <div class="stars-display">
              <img src="assets/best-selling-imgs/star.jpeg" alt="star" />
              <img src="assets/best-selling-imgs/star.jpeg" alt="star" />
              <img src="assets/best-selling-imgs/star.jpeg" alt="star" />
              <img src="assets/best-selling-imgs/star.jpeg" alt="star" />
              <img src="assets/best-selling-imgs/star.jpeg" alt="star" />
            </div>
            <p class="use-rating">(88)</p>
          </div>
          <div>
            <button class="add-to-cart-btn">Add to Cart</button>
          </div>
        </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>

  <div class="card-footer">
    <div class="view-all-btn">
      <button class="flash-container-button">VIEW ALL PRODUCTS</button>
    </div>
  </div>
</div>
